@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    font-family: Pretendard;
}

body, main, div, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

body * {
    color: #444;
}

body {
    justify-content: center;
    align-items: center;
    margin: 0px;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

main {
    width: 100%;
    min-height: 100vh;
    margin-bottom: 200px;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
}

div.record_button {
    position: fixed;
    height: 150px;
    width: 100%;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.9);
}

div.record_button > button {
    width: 100px;
    height: 100px;
    background-size : 50%;
    background-image: url('../img/mic-unpushed.svg');
    background-repeat: no-repeat;
    background-position: center center;    
    border: 0px;
    user-select: none;
    border-radius: 50%;
    box-shadow: 0px 1px 6px #20212447;
    background-color: #fcfcfc;
}

div.record_button > button.pushing {
    width: 120px;
    height: 120px;
    background-image: url('../img/mic-pushed.svg');
    box-shadow: 0px 1px 3px #20212447;
    background-color: #eee;
}

@media (min-width: 600px) {
    main{
        width: 600px;
    }

    div.record_button {
        position: absolute;
        top: 180px;
        left: 35px;
        height: 40px;
        width: 40px;
        background-color: transparent;
    }

    div.record_button > button {
        width: 30px;
        height: 30px;
        box-shadow: 0px 1px 3px #20212447;
    }

    div.record_button > button.pushing {
        width: 40px;
        height: 40px;
    }    
}

div.API_KEY {
    margin-top: 100px;
}

div.record_script {
    display: inline;
    width: 90%;
    min-height: 150px;
    font-size: 13pt;
    box-sizing: border-box;
    resize: none;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 15px;
    margin-bottom: 10px;
}

div.record_script:focus {
    outline: none;
}

.hide{
    display:none;
}

div.title > button {
    background-color: #fafafa;
    border: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
}

div.title {
    height: 20px;
    position: relative;
    width: 100%;
}

div.api_status {
    width: 90%;
    height: 40px;
}

div.lang_select select {
    width: 150px;
    text-align: center;
}

div.model-selection-wrapper {
    width: 90%;
    justify-content: flex-start;
}

#default_model {
    width: 80px;
    margin-left: 20px;
    margin-bottom: 5px;
}

div.answer_wrapper {
    width: 90%;
    background-color: #f5f5f5;
    flex-direction: column;
    border-radius: 15px;
    min-height: 150px;
}

div.answer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 15px;
    min-height: 150px;
    line-height: 1.5;
    flex-direction: column;
}

div.answer > div {
    width: fit-content;
}

div.result_buttons {
    position: relative;
    width: 100%;
    height: 60px;
}

div.result_buttons button {
    background-color: #f5f5f5;
    box-shadow: 0 1px 6px #20212447;
    border: 0px;
    border-radius: 5px;
    padding: 5px 8px;
}

div.result_buttons button:disabled {
    background-color: #ddd;
    box-shadow: 0 1px 3px #20212447;
}

h1 {
    height: 100px;
    padding: 5px;
}

#options {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    display: none;
}

#options label {
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
}

#options item {
    width: 70%;
    display: flex;
    justify-content: center;
}

#options item > div:first-child {
    width: 80%;
}

#options input{
    width: 80%;
}

#options button{
    margin: 5px;
    width: 50px;
}

#options .options-close {
    position: absolute;
    top: 10px;
    left: 10px;
}

div.regenerate-buttons {
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    display: none;
}

div.regenerate-buttons * {
    margin: 5px;
}

#regenerate_result {
    font-size: 13pt;
    align-items: flex-start;
    background-color: #fefefe;
    width: 90%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 15px;
    display: none;
}

ins {
    text-decoration: none;
}

div.record_upper_buttons {
    width: 90%;
    justify-content: flex-end;
    padding-right: 15px;
    position: relative;
    height: 17px;
}

div.record_upper_buttons > button {
    border: 1px solid #ccc;
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    right: 20px;
    color: #666;
}

div.record_upper_buttons > button.pushing {
    background-color: #fff;
    color: #444;
}

#score > img {
    height: 13px;
    margin: 7px;    
}

#suggestion {
    margin-top: 20px;
    font-size: 10pt;
}

b {
    font-weight: 600;
}